body{
    background-color: rgba(128, 129, 129, 0.75);
    color: white;
}
header{
    color: black;
    font-size: xx-large;
    font-family: Amiri;
    text-align: center;
    background-color: rgba(238, 200, 187, 0.94);
}
a{
    color: #ffffff;
    text-decoration: none;
}
.list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    margin: 0;
}

.list li {
    flex-basis: 25%;
    box-sizing: border-box;
    padding: 10px;
    text-align: center;
}

img {
    width: 80px;
    height: 80px;
}
